[submodule "kubernetes-loong64"]
	path = kubernetes-loong64
	url = https://github.com/kubernetes-loong64/kubernetes-loong64
    branch = main
[submodule "release-loong64"]
	path = release-loong64
	url = https://github.com/kubernetes-loong64/release-loong64
	branch = main
[submodule "coredns-loong64"]
	path = coredns-loong64
	url = https://github.com/kubernetes-loong64/coredns-loong64
	branch = main
[submodule "etcd-loong64"]
	path = etcd-loong64
	url = https://github.com/kubernetes-loong64/etcd-loong64
	branch = main
[submodule "containerd-loong64"]
	path = containerd-loong64
	url = https://github.com/kubernetes-loong64/containerd-loong64
	branch = main
[submodule "plugins-loong64"]
	path = plugins-loong64
	url = https://github.com/kubernetes-loong64/plugins-loong64
	branch = main
[submodule "cri-tools-loong64"]
	path = cri-tools-loong64
	url = https://github.com/kubernetes-loong64/cri-tools-loong64
	branch = main
[submodule "template-loong64"]
	path = template-loong64
	url = https://github.com/kubernetes-loong64/template-loong64
	branch = main
[submodule ".github"]
	path = .github
	url = https://github.com/kubernetes-loong64/.github
	branch = main
[submodule "moby-loong64"]
	path = moby-loong64
	url = https://github.com/kubernetes-loong64/moby-loong64.git
	branch = main
[submodule "runc-loong64"]
	path = runc-loong64
	url = https://github.com/kubernetes-loong64/runc-loong64.git
	branch = main
[submodule "cli-loong64"]
	path = cli-loong64
	url = https://github.com/kubernetes-loong64/cli-loong64.git
	branch = main
[submodule "tini-loong64"]
	path = tini-loong64
	url = https://github.com/kubernetes-loong64/tini-loong64.git
	branch = main
[submodule "jdk-loong64"]
	path = jdk-loong64
	url = https://github.com/kubernetes-loong64/jdk-loong64.git
	branch = main
[submodule "maven-loong64"]
	path = maven-loong64
	url = https://github.com/kubernetes-loong64/maven-loong64.git
	branch = main
[submodule "gradle-loong64"]
	path = gradle-loong64
	url = https://github.com/kubernetes-loong64/gradle-loong64.git
	branch = main
[submodule "runner-tools-base-images-loong64"]
	path = runner-tools-base-images-loong64
	url = https://github.com/kubernetes-loong64/runner-tools-base-images-loong64.git
	branch = main
[submodule "gitlab-runner-loong64"]
	path = gitlab-runner-loong64
	url = https://github.com/kubernetes-loong64/gitlab-runner-loong64.git
	branch = main
[submodule "jenkins-loong64"]
	path = jenkins-loong64
	url = https://github.com/kubernetes-loong64/jenkins-loong64.git
	branch = main
[submodule "compose-loong64"]
	path = compose-loong64
	url = https://github.com/kubernetes-loong64/compose-loong64.git
	branch = main
[submodule "ossutil-loong64"]
	path = ossutil-loong64
	url = https://github.com/kubernetes-loong64/ossutil-loong64.git
	branch = main
