[submodule "kubernetes-loong64"]
	path = kubernetes-loong64
	url = ../kubernetes-loong64.git
    branch = main
[submodule "release-loong64"]
	path = release-loong64
	url = ../release-loong64.git
	branch = main
[submodule "coredns-loong64"]
	path = coredns-loong64
	url = ../coredns-loong64.git
	branch = main
[submodule "etcd-loong64"]
	path = etcd-loong64
	url = ../etcd-loong64.git
	branch = main
[submodule "containerd-loong64"]
	path = containerd-loong64
	url = ../containerd-loong64.git
	branch = main
[submodule "plugins-loong64"]
	path = plugins-loong64
	url = ../plugins-loong64.git
	branch = main
[submodule "cri-tools-loong64"]
	path = cri-tools-loong64
	url = ../cri-tools-loong64.git
	branch = main
[submodule "template-loong64"]
	path = template-loong64
	url = ../template-loong64.git
	branch = main
[submodule ".github"]
	path = .github
	url = ../.github.git
	branch = main
[submodule "moby-loong64"]
	path = moby-loong64
	url = ../moby-loong64.git
	branch = main
[submodule "runc-loong64"]
	path = runc-loong64
	url = ../runc-loong64.git
	branch = main
[submodule "cli-loong64"]
	path = cli-loong64
	url = ../cli-loong64.git
	branch = main
[submodule "tini-loong64"]
	path = tini-loong64
	url = ../tini-loong64.git
	branch = main
[submodule "jdk-loong64"]
	path = jdk-loong64
	url = ../jdk-loong64.git
	branch = main
[submodule "maven-loong64"]
	path = maven-loong64
	url = ../maven-loong64.git
	branch = main
[submodule "gradle-loong64"]
	path = gradle-loong64
	url = ../gradle-loong64.git
	branch = main
[submodule "runner-tools-base-images-loong64"]
	path = runner-tools-base-images-loong64
	url = ../runner-tools-base-images-loong64.git
	branch = main
[submodule "gitlab-runner-loong64"]
	path = gitlab-runner-loong64
	url = ../gitlab-runner-loong64.git
	branch = main
[submodule "jenkins-loong64"]
	path = jenkins-loong64
	url = ../jenkins-loong64.git
	branch = main
[submodule "compose-loong64"]
	path = compose-loong64
	url = ../compose-loong64.git
	branch = main
[submodule "ossutil-loong64"]
	path = ossutil-loong64
	url = ../ossutil-loong64.git
	branch = main
[submodule "nexus-loong64"]
	path = nexus-loong64
	url = ../nexus-loong64.git
	branch = main
[submodule "minio-loong64"]
	path = minio-loong64
	url = ../minio-loong64.git
	branch = main
[submodule "redis-loong64"]
	path = redis-loong64
	url = ../redis-loong64.git
	branch = main
[submodule "valkey-loong64"]
	path = valkey-loong64
	url = ../valkey-loong64.git
	branch = main
[submodule "nginx-loong64"]
	path = nginx-loong64
	url = ../nginx-loong64.git
	branch = main
[submodule "debian-loong64"]
	path = debian-loong64
	url = ../debian-loong64.git
	branch = main
[submodule "git-loong64"]
	path = git-loong64
	url = ../git-loong64.git
	branch = main
[submodule "createrepo"]
	path = createrepo
	url = ../createrepo.git
	branch = main
[submodule "reprepro"]
	path = reprepro
	url = ../reprepro.git
	branch = main
[submodule "htop-loong64"]
	path = htop-loong64
	url = ../htop-loong64.git
	branch = main
[submodule "buildx-loong64"]
	path = buildx-loong64
	url = ../buildx-loong64.git
	branch = main
[submodule "node-loong64"]
	path = node-loong64
	url = ../node-loong64.git
	branch = main
[submodule "actions-runner-loong64"]
	path = actions-runner-loong64
	url = https://github.com/kubernetes-loong64/actions-runner-loong64.git
	branch = main
[submodule "go-containerregistry-loong64"]
	path = go-containerregistry-loong64
	url = https://github.com/kubernetes-loong64/go-containerregistry-loong64.git
	branch = main
